#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

button{
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
}